.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  margin-top: 32px;
  flex-shrink: 0;
}

.footer {
  max-height: 60px;
  height: 60px;
  max-width: calc(1200px + 2 * 4rem);
  padding: 0 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--sub-text-color);
  font-size: 14px;
}

.footer-link {
  color: var(--sub-text-color);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    color: var(--text-color);
  }
}

.footer-center {
  display: flex;
  flex-direction: row;
}
